<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/home.css" />
    <title>My blog</title>
  </head>
  <body>
    <div class="mainContainer">
      <div class="wrapper">
        <div class="top-box">My Blog</div>
        <div class="content-box">
          {% for blog in blogs:%}

          <div class="item-content">
            <h1>{{blog.title}}</h1>
            <p>{{blog.subtitle}}</p>

            <span
              ><a href="{{url_for('blog', uniqueId=blog.uniqueId)}}"
                >read more</a
              ></span
            >
          </div>
          {% endfor %}
        </div>
      </div>
      <footer class="footer">Made with ❤️ in Kerala</footer>
    </div>
  </body>
</html>
